extends admin-layout
block content
  .row
    div(class="col-xs-10 col-md-10 col-sm-10 col-lg-10")
      h3 Pedidos de clientes
      table.table
        thead
          tr
            th Usuario:
            th Fecha:
            th Estado del pedido
            th Comentarios del cliente
            th Cambiar estado
        tbody
          each order in orders
              tr 
                  td #{order.customer.name} #{order.customer.lastname} 
                  td #{order.order_date}
                  td 
                    span.badge #{order.state}
                  td #{order.comments}
                  td 
                    form(method="post" action="/admin/orders/updateOrderStatus")
                      input(type="hidden", name="idOrder", value="#{order._id}")
                      select(name="orderStatus")
                        each state in status
                          if order.state == state
                            option(value="#{state}", selected="selected") #{state}
                          else
                            option(value="#{state}") #{state}
                      button Actualizar estado
